{% set stats = h.get_site_statistics() %}
<div class="box stats homepage-stats">
  <div class="inner">
    <h3>Quick Statistics</h3>
    <center>
    <ul>
      {% block stats_group %}
      <div class="container">
        <div class="row">
          <div class="col-8 col-md-offset-2">
          <div class="col-md-3">
              <li>
                <a href="{{ h.url_for(controller='package', action='search') }}">
                  <strong class="homepage-stats-number">{{ h.SI_number_span(stats.dataset_count) }}</strong><br>
                  {{ _('dataset') if stats.dataset_count == 1 else _('datasets') }}
                </a>
              </li>
          </div>
          <div class="col-md-3">
            <li>
              <a href="{{ h.url_for(controller='organization', action='index') }}">
                <strong class="homepage-stats-number">{{ h.SI_number_span(stats.organization_count) }}</strong><br>
                {{ _('organization') if stats.organization_count == 1 else _('organizations') }}
              </a>
            </li>
          </div>
          <div class="col-md-3">
            <li>
              <a href="{{ h.url_for(controller='group', action='index') }}">
                <strong class="homepage-stats-number">{{ h.SI_number_span(stats.group_count) }}</strong><br>
                {{ _('group') if stats.group_count == 1 else _('groups') }}
              </a>
            </li>
          </div>
        </div>
        </div>
      </div>
      {% endblock %}
    </ul>
  </center>
  </div>
</div>
